header{
    background-color: #BBBBBB;/*Camia el color de fondo del header*/
    padding: 20px 0;
}
.cajaNav{
    
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;/*deja el contenido en linea una tras otra*/
    margin: 0 0 0 15px;/*crea un espacion en todas direcciones*/
    /*el primer 0 corresponde arriba*/
    /*el segundo 0 corresponde a la derecha*/
    /*el tercero 0 corresponde abajo*/
    /*el cuarto 15px corresponde a la izquierda*/

}
nav a{
    text-transform: uppercase;/*Cambia el texto a mayusculas*/
    color: #000000;/*Cambia el color de la letra*/
    font-weight: bold;/*Deja el texto en negritas*/
    font-size: 22px;/*Aumenta el tamaño de letra*/
    text-decoration: none;/*Elimina el subrayado del enlace*/
}
nav a:hover{/*Captura el movimiento del mouse cuando se pociciona sobre el */
    color: #c78c19;
    text-decoration: underline;
}
.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;/*esta funcion impide que sobrepase el maximo utilizado de ancho declarado, tomando en cuenta el espacio declarado en width*/
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-top-width: solid;
    /*La funcion border es una manera resumida der emplear las ultimas tres propiedades
    border: 2px solid #000000;*/
    border-radius: 10px;/*Redondea los bordes de un objeto*/

}
.productos li:hover{
    border-color: #c78c19;
    
}
.productos li:active{
    border-color: #088c19;
}
.productos h2{
    font-size: 30px;
    font-weight: bold;
}
.productos li:hover h2{
    font-size: 33px;
}
.producto-descripcion{
    font-size: 18px;
}
.producto-precio{
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}
footer{
    text-align: center;
    background: url(../imagenes/productos/bg.jpg);
    padding: 40px;
}
.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}
main{
    width: 940px;
    margin: 0 auto;
    
}
form{
    margin: 40px 0;
}
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox{
    margin: 25px 0;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
    
}
table{
    margin: 40px 40px;
}
thead{
    background: #555555;
    color: white;
    font-weight: bold;
}
td, th{
    border: 1px solid black;
    padding: 8px 15px;
}
/*Css para nuestra pagina inicial*/
.banner{
    width: 100%;

}
.tituloPrincipal{
    text-align: center;
    font-size: 2em;/*toma el tamaño de la fuente y lo multiplica x2 veces su tamaño*/
    margin: 0 0 1em;
    clear: left;
}
.principal p{
    margin: 0 0 1em;
}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style: italic;
}
.utencilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}
.imgDiferenciales{
    width: 60%;
}
